<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Project_PresentList_Client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
   <servlet>
  	<servlet-name>HomePageServlet</servlet-name>
  	<servlet-class>be.walbertjossart.Servlets.HomePageServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
      <servlet-name>HomePageServlet</servlet-name>
      <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
 
	<servlet>
		<servlet-name>LogInServlet</servlet-name>
		<servlet-class>be.walbertjossart.Servlets.LogInServlet</servlet-class>
	</servlet>
 	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/LogInServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignInServlet</servlet-name>
		<servlet-class>be.walbertjossart.Servlets.SignInServlet</servlet-class>
	</servlet>
 	<servlet-mapping>
		<servlet-name>SignInServlet</servlet-name>
		<url-pattern>/SignInServlet</url-pattern>
	</servlet-mapping>
  
</web-app>